.features {
  display: flex;
  align-items: center;
  background-color: #e5e7eb;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 150px;
  width: 150px;
}

.btn {
  border: 2px solid #00a87a;
  border-radius: 9999px;
  width: auto;
  color: #00a87a;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  padding: 0.7rem 2rem;
  text-align: center;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  margin-top: 1rem;
}
