name: Build

on:
  pull_request:
    branches: [master]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install yarn
        run: npm i yarn

      - name: Install dependencies
        run: yarn

      - name: Build
        run: yarn build
